*{
    margin: 0px;
    box-sizing: border-box;
}

.box1 {
    float: left;
    background: red;
    color: white;
    width: 33.3333%;
    height: 400px;
    text-align: center;
    border-right: 10px solid;    
}
.box2 {
    background: green;
    color: white;
    float: left;
    width: 33.3333%;
    height: 400px;  
    border-right: 5px solid;
    border-left: 5px solid;
    text-align: center;
}
.box3 {
    background: blue;
    color: white;
    float: left;
    width: 33.3333%;
    height: 400px;
    text-align: center;
    border-left: 10px solid;
}