.table-row {
    display: flex;
}
/* img {
    width: 250px;
    height: 200px;
} */
.container-market {
    margin-left: 270px;
    margin-right: 200px;
    padding-bottom: 100px;
    border: 1px solid;
    margin-bottom: 130px;
    margin-top: 15px;
}
.column-1 {
    padding-left: 45px;
    padding-top: 35px;
}
.column-2 {
    padding-left: 100px;
    padding-top: 125px;
}
.column-3 {
    padding-left: 140px;
    padding-top: 125px;
}
.column-4 {
    padding-left: 200px;
    padding-top: 125px;
}
input {
    width: 65px;
}
.table-head {
    display:flex;
    padding-left: 560px;
}