extends template-part/layout.pug
block content
    h1 Dầu Gội
    .container
        .row(style="padding-top:32px; padding-bottom:50px; ")
            .col-sm-6-col-md-4col-lg-3p-b-50 
                h4 Khoảng Giá
                input(type="checkbox" class="sub-menu")
                label(for="gia" style="padding-right: 100px;") 0-99đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia" style="padding-right: 85px;") 100-499đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia" style="padding-right: 75px;") 500-1099đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia" style="padding-right: 68px;") 1100-2999đ
                br
                br
                h4 Thể Loại
                br
                input(type="checkbox" class="sub-menu")
                label(for="theloai" style="padding-right: 70px;") Dưỡng Tóc
                br
                input(type="checkbox" class="sub-menu")
                label(for="theloai" style="padding-right: 90px;") Dầu Gội
                br
                input(type="checkbox" class="sub-menu")
                label(for="theloai" style="padding-right: 97px;") Dầu Xả
                br
                br
                h4 Thương Hiệu
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 120px;") Tigi
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 95px;") Biotine
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 109px;") Clear
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 95px;") L’oréal
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 95px;") Revlon
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu" style="padding-right: 81px;") Coconut
            .col-sm-6.col-md-8.col-lg-9.p-b-50
                .row
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa.png", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa2.jpg", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa3.jpg", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa4.jpg", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa5.jpg", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay
                    .col-sm-12.col-md-6.col-lg-4.p-b-50
                        a(href="#")
                            img(class="product1" src="img/nuochoa6.jpg", alt="")
                        p Tên Sản Phẩm
                        p Giá
                        .buy1
                            a(href="#") Mua Ngay