extends template-part/layout.pug
block content
    h1 Nước Hoa
    .container
        .row
            .col-sm-6-col-md-4col-lg-3p-b-50 
                h4 Khoảng Giá
                input(type="checkbox" class="sub-menu")
                label(for="gia") 0-99đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia") 100-499đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia") 500-1099đ
                br
                input(type="checkbox" class="sub-menu")
                label(for="gia") 1100-2999đ
                br
                br
                h4 Thể Loại
                br
                input(type="checkbox" class="sub-menu") 
                label(for="theloai") Nam
                br
                input(type="checkbox" class="sub-menu")
                label(for="theloai") Nữ
                br
                input(type="checkbox" class="sub-menu")
                label(for="theloai") Unisex
                br
                br
                h4 Thương Hiệu
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") YSL
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Dior
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Chanel
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") L’oréal
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Revlon
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Dolce Gabbana
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Gucci
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Tom Ford
                br
                input(type="checkbox" class="sub-menu")
                label(for="thuonghieu") Jo Malone
        .row(style="position: absolute;top: 1020px; left: 480px;" )
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa.png", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa2.jpg", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa3.jpg", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa4.jpg", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa5.jpg", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay
            .col-md-4
                a(href="#")
                    img(class="product1" src="img/nuochoa6.jpg", alt="")
                p Tên Sản Phẩm
                p Giá
                .buy1
                    a(href="#") Mua Ngay