footer
    .row
        .col
            .logo
                img(src="img/navy.png", alt="logo")
            //- .facebook
            //-     img(src="img/facebook.png", alt="facebook")
            //- .addres
            //-     img(src="img/house.png", alt="addres")
            //- .phone
            //-     img(src="img/phone.png", alt="phone")
        .col
            .pay
                p Cổng Thanh Toán
                img(src="img/paypal.png", alt="paypal" width="80px" height="40px")
                //- img(src="img/credit.png", alt="credit" width="80px" height="40px")
                img(src="img/visa.png", alt="visa" width="80px" height="40px")
        .col
            .take-care
                p Chăm Sóc Khách Hàng
                p Mua online : 0985453525
                p Hotline : 18001919
                