body {
    background-color: rgb(55, 56, 58)
}
.wrap {
  margin: 0;
  padding-left: 35%;
}
.container {
    width: 500px;
    height: 500px;
    text-align: center;
    background: rgb(241, 233, 233);
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
}
#last-name {
    width: 320px;
    height: 30px;
}
#email {
    width: 320px;
    height: 30px;
}
#password {
    width: 320px;
    height: 30px;
}
.login {
    width: 325px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
}

h1 {
    text-align: center;
}